@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0E3820;
    --secondary-color: #2BA15E;
    --accent1-color: #5CB0FF;
    --accent2-color: #D9ECE6;

    --heading-font: 'Rubik', serif;
    --paragraph-font: 'Rubik', serif;
    --nav-background-color: #0E3820;
    --nav-link-color: #D9ECE6;
    --nav-hover-link-color: #5CB0FF;
    --nav-hover-background-color: #2BA15E;
}
/* heading, paragraph and nav colors to be selected during site plan*/

header {
    padding: 10px;
    background-color: var(--accent2-color);
}

nav {
    background-color: steelblue; 
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main {
    align-content: center;
    color: Green;
}

input, select, textarea {
    background-color: aliceblue;
}

fieldset, label {
    background-color: lightgray;
    width: 600px;
    height: 140px;
}

button {
    color: blue;
    background-color: #5CB0FF;
    position: center;
}

legend {
    background-color: #5CB0FF;
    color: blue;

}

.social-links {
    margin: 1rem auto;
    align-items: end;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
}

footer {
    margin-top: 20px;
    border-top: 10px solid gray;
    text-align: center;
}