@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0E3820;
    --secondary-color: #2BA15E;
    --accent1-color: #5CB0FF;
    --accent2-color: #D9ECE6;

    --heading-font: 'Rubik', serif;
    --paragraph-font: 'Rubik', serif;
    --nav-background-color: #0E3820;
    --nav-link-color: #D9ECE6;
    --nav-hover-link-color: #5CB0FF;
    --nav-hover-background-color: #2BA15E;
}

header {
    background-color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

nav {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
	padding: 20px;
	text-decoration: none;
    justify-content: space-between;
}

main {
    display: block;
    max-width: 100%;
}

article img {
    width: 20%;
    height: auto;
    box-shadow: 0 0 30px gray;
    float: right;
	margin: 0 0 10px 15px;
	border: 3px solid #000;
	padding: 3px;
	background-color: #bbb;
    position: relative;
}

article {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    /*background-color: rgb(251, 245, 237, .7);
    max-width: 100%;
    padding: 15px;
    width: 40%;
    height: 40%; */
    float: inline-end;
	border: 3px solid rgba(0,0,0,.1);
    top: 40%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    position: absolute;
    background-color:  rgb(170, 167, 167, .7);
    width: 80%;
    height: 35%;
    max-width: 800px;
    max-height: 200px;
    margin-top: 5%;
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color:  rgb(170, 167, 167, .7);
    width: 100%;
    height: 10%;
    margin-top: 5%;
    text-align: center;
}

.history, .contact {
    background-color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items:flex-start;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.adventure, .profile {
    background-color: var(--accent2-color);
    margin: 1rem auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    display: flex;
}

.company {
    background-color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items:flex-start;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.map {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;
    padding-bottom: 10%;
}


h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 img {
    display: block;
    width: 50%;
    height: auto;
}


input, select, textarea {
    background-color: aliceblue;
}

fieldset, label {
    background-color: lightgray;
    width: 600px;
    height: 140px;
}

button {
    color: blue;
    background-color: rgb(143, 232, 232);
    position: center;
}

legend {
    background-color: rgb(143, 232, 232);
    color: blue;

}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	padding: 10px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

figcaption {
    bottom: 5px;
    align-items: center;
    justify-items: center;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height:auto;
}

.stack {
    position: relative;
}

.social-links {
    margin: 1rem auto;
    align-items: end;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
}

footer {
    background-color:rgb(96, 172, 202);
    text-align: center;
}