*{
    background-color: rgb(101, 135, 207);
}


header, footer {
    font-size: larger;
    font-style: normal;
    color: blue;
}

main {
    align-content: center;
    color: Green;
}

input, select, textarea {
    background-color: aliceblue;
}

fieldset, label {
    background-color: lightgray;
    width: 600px;
    height: 140px;
}

button {
    color: blue;
    background-color: rgb(143, 232, 232);
    position: center;
}

legend {
    background-color: rgb(143, 232, 232);
    color: blue;

}