*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue; 
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;

}

h1 {
    color: steelblue;
    border-bottom: 2px solid blueviolet;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


main img {
    width: 13%;
    height: auto;
    border: 2px solid hotpink;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

div.grid {
    display: grid;
    grid-template-columns:auto auto;
    align-items: center;
}

main {
    max-width: 500px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 400px;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 10px solid gray;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 2px solid blueviolet;
    padding: 1rem;
    background-color: rgb(229, 109, 201);
    color: rgb(25, 19, 24);
}