*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue; padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 13%;
    height: auto;
    border: 2px solid hotpink;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 500px;
}

aside {
    width: 400px;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 10px solid gray;
    text-align: center;
}

/* Class Selectors*/

.box {
    margin: 1rem;
    border:color(2px solid(blueviolet, hotpink, gray, black));
    padding: 1rem;
    background-color: rgb(229, 109, 201);
    color: rgb(25, 19, 24);
}