nav {
    background-color: steelblue; padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 600px;
}

aside {
    width: 400px;
    margin: 2rem;
    border: 1px solid blueviolet;
    padding: 2rem;
    background-color: rgb(37, 34, 34);
    color: bisque;
}

aside img {
    width: 200px;
    height:auto
}

footer {
    margin-top: 20px;
    border-top: 10px solid gray;
    text-align: center;
}

